<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <script>
    .logo {
    	display: inline;
    	float: left;
    	padding: 20px 0 0 15px;
    	width: 245px;
		}
	
    </script>
    
</head>
<body>

	<div style="padding-bottom: 6px; font-family: Verdana; border: 1px solid #020202; background-color: #020202; width: 650px;">
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr>
				<td style="background-color:#020202;">
					<div style="text-align: left; float: left;">
					<a target="_blank" href="http://www.stbgroup.in/">
						<img src="http://www.stbgroup.in/images/stb-logo.png" style="vertical-align: middle;" alt="STB-Finance">
					</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div style="padding: 0px;">
		<div style="clear: both; background-color: #fff;">
			<div style="padding: 5px; background-color: #fff; font-size: 13px;">
				<div style="padding: 10px;">Name : <%= @contact.name %></div>
				<div style="padding: 10px;">Email : <%= @contact.email %> </div>
				
				<div style="padding: 10px;">Message : <%= @contact.message %></div>
				
					<table width="100%" border="0">
					<tr>
						<td valign="top" align="right" style="padding-right: 1px;">&nbsp;</td>
						
					</tr>
					</table>
			</div>
		</div>
	</div>
	<div style="padding-top: 6px; text-align: center; font-size: 9px; padding-bottom: 6px;">
	<div style="color: rgb(102, 102, 102);">
	STB Financial Services © 2011. Powered by <a target="_blank" href="http://kunalinfotech.net/" style="color: rgb(102, 102, 102);">Kunal Infotech Pvt Ltd</a>
  </div>
		
		
	</div>
	      
</body>	
</html>




