
<!--  START CONTENT -->
<div id="content_wrapper">

<!--  START PRIMARY CONTENT -->
<div id="primary_content">
	<h1>Kunal Infotech -  Example Oauth</h1>
	
	<p>New book</p>


<%= render 'form' %>

<%= link_to 'Back', books_path %>
