
<!doctype html>

<html>

<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="A brief statement describing your app." />
	<meta name="keywords" content="keywords, related to, your app" />

	<link href="/front/css/reset.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/front/css/core.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/front/css/lightbox.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="/front/css/slider.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="http://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css" media="screen" />
	<!--[if lte IE 7 ]>
	<link href="/front/css/ie7.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->
	<!--[if lte IE 8 ]>
	<link href="/front/css/ie8.css" rel="stylesheet" type="text/css" media="screen" />
	<![endif]-->

	<title>Kunaals' Housing - Property Manager</title>

</head>

<body>

	<div id="header_wrap">

		<div id="header">

			<div id="top">

				<h1 id="logo"><a href="#"><img SRC="/front/images/logo.png" width="135" height="40" alt="Spark" /></a></h1>

				<ul id="nav">
					<li><a href="#features" class="scroll">Features</a></li>
					<li><a href="#contact" class="scroll">Contact</a></li>
				</ul>

			</div> <!-- end top -->

			<div id="intro">

				<div id="pitch">

					<h2>Concise statement describing the app</h2>
					<p class="subheading">This is a short paragraph which goes into more detail about what your product does and what are the benefits that customers will get from using it. Powerful stuff! </p>
					<a id="video" class="lightbox" HREF="http://player.vimeo.com/video/7809605?title=0&byline=0&portrait=0" title="">watch a video</a>

				</div>

				<div id="product">

					<div id="slider" class="nivoSlider">
						<img SRC="/front/screenshots/screen_01.jpg" alt="" />
						<img SRC="/front/screenshots/screen_02.jpg" alt="" />
						<img SRC="/front/screenshots/screen_03.jpg" alt="" />
						<img SRC="/front/screenshots/screen_04.jpg" alt="" />
					</div>

				</div>

				<div id="highlights">

					<ul>
						<li><em class="highlight"><span><img SRC="/front/images/stars.png" width="50" height="20" alt="" /></span></em>This is an important feature or benefit that needs to stand out.</li>
						<li><em class="highlight"><span>$0.99</span></em>That's right! You pay only $0.99 and get this amazing app.</li>
					</ul>
				
				</div>
				 <% if user_signed_in? %>
                             				 <div id="call_to_action">
						<%= link_to "Go to Property Manager", properties_path %>
					</div>
					<% else %>
				<div id="call_to_action">
					<%= link_to "Sign In", authentications_path %>
				</div>
				
			       <% end %>
			 

				<div class="clear"></div>

			</div> <!-- end intro -->

		</div> <!-- end header -->

	</div> <!-- end header wrap -->

	<div id="content_wrap">

		<div id="content">

			<div id="features">

				<div class="feature separator_r">

					<img SRC="/front/images/feature_icon01.png" width="60" height="50" alt="" />
					<h3>An important feature</h3>
					<p>A short paragraph, just one or two phrases long, that describes this feature in some detail. Also be sure to discuss the benefits users get from using your app.</p>

				</div>

				<div class="feature separator_r">

					<img SRC="/front/images/feature_icon02.png" width="60" height="50" alt="" />
					<h3>Some other feature</h3>
					<p>This is another short paragraph, just one or two phrases long, that describes this feature in some detail. Also be sure to discuss the benefits users get from using your app.</p>

				</div>

				<div class="feature">

					<img SRC="/front/images/feature_icon03.png" width="60" height="50" alt="" />
					<h3>Here's another</h3>
					<p>A short paragraph, just one or two phrases long, that describes this feature in some detail. Also be sure to discuss the benefits users get from using your app.</p>

				</div>

				<div class="feature separator_r">

					<img SRC="/front/images/feature_icon04.png" width="60" height="50" alt="" />
					<h3>This is also a feature</h3>
					<p>This is another short paragraph, just one or two phrases long, that describes this feature in some detail. Also be sure to discuss the benefits users get from using your app.</p>

				</div>

				<div class="feature separator_r">

					<img SRC="/front/images/feature_icon05.png" width="60" height="50" alt="" />
					<h3>And yet another</h3>
					<p>A short paragraph, just one or two phrases long, that describes this feature in some detail. Also be sure to discuss the benefits users get from using your app.</p>

				</div>

				<div class="feature">

					<img SRC="/front/images/feature_icon06.png" width="60" height="50" alt="" />
					<h3>And the last one</h3>
					<p>This is another short paragraph, just one or two phrases long, that describes this feature in some detail. Also be sure to discuss the benefits users get from using your app.</p>

				</div>

			</div> <!-- end features -->

			<div id="additional_info">

				<div id="columns_wrap">

					<div id="more_features">

						<h3>But wait, there's more!</h3>
						<ul>
							<li>An interesting feature that wasn't listed above but is nice.</li>
							<li>This is another one. It's nice and clients should know of it.</li>
							<li>And yet another. They just keep coming.</li>
							<li>The last feature listed here. Still it's great. </li>
						</ul>

					</div>

					<div id="testimonials">

						<h3>What others are saying</h3>
						<ul>
							<li class="quote"><blockquote><span class="quotes_left">&ldquo;</span>This is a short quote from one of our customers. It highlights why the customer was satisified and hopefully will encourage others to use the app.<span class="quotes_right">&rdquo;</span><cite>&ndash; Mihnea-Luchian Cosma</cite></blockquote></li>
							<li class="quote"><blockquote><span class="quotes_left">&ldquo;</span>This is another quote from a customer. It also highlights why the customer was satisified and hopefully will encourage others to use the app.<span class="quotes_right">&rdquo;</span><cite>&ndash; Ancuta David</cite></blockquote></li>
							<li class="quote"><blockquote><span class="quotes_left">&ldquo;</span>This is the last quote. It is very nice and engaging.<span class="quotes_right">&rdquo;</span><cite>&ndash; Some Guy</cite></blockquote></li>
						</ul>

					</div>

					<div id="requirements">

						<h3>Requirements</h3>
						<ul>
							<li>iPhone OS 3.0 software.</li>
							<li>To do someting the app requires an iPhone or iPod that can access the photo library.</li>
						</ul>

					</div>

				</div>

			</div> <!-- end additional info -->

		</div> <!-- end content -->

	</div> <!-- end content wrap -->

	<div id="footer_wrap">

		<div id="footer">

			<div id="tweets" class="separator_r">

				<h3>Latest tweets</h3>
				<ul>
					<li><span>6 minutes ago</span><a href="#">@power</a> thanks! I appreciate your support! If you guys ever get an API - we'd love to integrate your service.</li>
					<li><span>9 minutes ago</span>We're at Starbucks (W 27th St, 7th and 8th, New York). http://4sq.com/9BhRMb</li>
					<li><span>55 minutes ago</span>Check out our new important feature!</li>
				</ul>
				
				<!-- The javascript required to emebed your twitter feed -->
				<!--
				<script type="text/javascript" src="http://twitter.com/javascripts/blogger.js">
				</script>
				<script type="text/javascript" src="http://twitter.com/statuses/user_timeline/username.json?callback=twitterCallback2&count=3">
				</script>
				-->

			</div>

			<div id="social" class="separator_r">

				<h3>You can also find us here</h3>
				<ul>
					<li id="twitter"><a href="#">Follow us on twitter</a></li>
					<li id="facebook"><a href="#">Be our friend on facebook</a></li>
					<li id="rss"><a href="#">Subscribe to our blog feed</a></li>
					<li id="flickr"><a href="#">Check out our flickr galleries</a></li>
				</ul>

			</div>

			<div id="contact">

				<h3>Drop us a line</h3>
				<form id="chatform" action="#" method="">
					<ul>
						<li id="name_wrap"><label for="name"><span>Your name</span></label><input id="name" name="name" type="text" value="" maxlength="50"/></li>
						<li id="email_wrap"><label for="email"><span>Your email</span></label><input id="email" name="email" type="text" value="" maxlength="50"/></li>
						<li id="message_wrap"><label for="message"><span>Message</span></label><textarea id="message" name="message" rows="4" cols="45"></textarea></li>
						<li id="check_wrap">
														<span>
								<span id="n1">1</span> <span>+</span> <span id="n2">3</span> <span>=</span>
							</span>
							<input id="check" type="text" />
						</li>
						<li id="submit_wrap"><button id="submit" type="button">send</button></li>
					</ul>
				</form>
				<div id="confirmation"></div>

			</div>

			<a id="back_to_top" class="top scroll" href="#top">top</a>

			<div class="clear"></div>

			<div id="copyright">

				<p>All text and design is copyright &copy; 2011 Kunaals' Housing. All rights reserved.</p>

			</div>

		</div> <!-- end footer -->

	</div> <!-- end footer wrap -->

	<script type="text/javascript" SRC="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script type="text/javascript" SRC="scripts/lightbox.js"></script>
	<script type="text/javascript" SRC="scripts/slider.js"></script>
	<script type="text/javascript" SRC="scripts/validation.js"></script>

	<script type="text/javascript">

		$(document).ready(function() {

			// jQuery script for smooth scrolling the page
			$('.scroll').click(function() {
			   var clicked = $(this).attr("href");
			   var target = $(clicked).offset().top;
			   $('html,body').animate({ scrollTop: target}, 500 );
			   return false;
			});

			// jQuery script for the lightbox 
			$(".lightbox").colorbox({
				iframe: true,
				innerWidth: 600,
				innerHeight: 338
			});

			// jQuery script for the screenshots slider
			$('#slider').nivoSlider({
				effect: 'fade',
				pauseTime: 7000,
				directionNav: false,
				slices: 1
			});

			// jQuery script for testimonials rotator 
			$('#testimonials .quote');
			$('#testimonials .quote:first').addClass('activeQ');
			setInterval(function(){
				$('#testimonials .quote').filter('.activeQ').fadeOut(1000,function(){
					if($(this).next('li.quote').size()){
						$(this).next().addClass('activeQ').fadeIn(500);
						$(this).removeClass('activeQ');
					}
					else{
						$('#testimonials .quote:first').addClass('activeQ');
						$('#testimonials .quote').eq(0).fadeIn(500);
						$(this).removeClass('activeQ');
					}
				});
			},10000);

		});

	</script>

</body>

</html>